@page "{id:int}"
@model MovieDetailsModel
@{
}

<h2>@Model.movie!.Title</h2>
<p><strong>Year:</strong> @Model.movie.Year</p>
<p><strong>Genre:</strong> @Model.movie.Genre</p>
<p><strong>Rating:</strong> @Model.movie.Rating</p>
<p><strong>Description:</strong> @Model.movie.Description</p>

<a asp-page="Index" class="btn btn-secondary">Back</a>

